:root,
body,
body * {
  background-color: #252525;
  color: white;
}



#root {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


@font-face {
  font-family: 'BasementGrotesque';
  src: url('/portafolio/fonts/BasementGrotesque.otf') format('opentype');
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'AileronBlack';
  src: url('/portafolio/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'AileronBold';
  src: url('/portafolio/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InstagramSans';
  src: url('/portafolio/fonts/InstagramSans.ttf') format('opentype');
  font-weight: black;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.red {
  background-color: red;
}

/* IMAGES */

.profile-pic-image {
  width: 200px;
}

.mobile-only {
  display: none;
}

.xgroup {
  width: 80px;
}

.designs-collage {
  width: 70%;
}

.dots {
  width: 40px;
  align-self: end;
}

.arrows {
  width: 20px;
}

.napzzz {
  width: 100px;
}

.art {
  width: 300px;
}

.pic {
  width: 300px;
  height: 100%;
}

.squaredots,
.flash {
  height: fit-content;
}

.arrow {
  width: auto;
  height: fit-content;
}

.image-cover {
  display: flex;
  border: 1px solid #FFC66F;
  /* justify-content: center; */
}

.image-cover>div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transform: translate(20px, 20px);
}

.project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-flex>a {
  width: 200px;
}

.curriculum-container {
  border: 1px solid #FFC66F;
  width: fit-content;
}

.cv {
  width: 500px;
  transform: translate(20px, 20px);
}

/* IMAGES */

.container.home,
.container.about,
.container.projects,
.container.curriculum,
.container.contact {
  margin-top: 5rem;
}

.container {
  margin-top: 5rem;
}

.home {
  gap: 8rem;
  flex-direction: row;
}

.home-flex{
  gap: 3rem;
}

.dark {
  margin-top: -3rem;
  padding: 4rem 2rem 2rem;
  background-color: #171717;
  overflow: auto;
}

.art-description {
  width: 50%;
}

.art-gallery {
  gap: 1rem;
  justify-content: flex-start;
}

.myself-gallery {
  gap: 1.5rem;
}

.home-date,
.contact-date {
  position: absolute !important;
}

.date {
  position: relative;
  bottom: 0;
  left: 0;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.signature {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  background-color: transparent;
}

.signature * {
  background-color: transparent;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.button {
  width: 30px !important;
}

a.nav-link {
  color: white;
  font-family: "AileronBold";
  font-size: 16px;
}

a.nav-link .selected {
  font-size: 28px;
}

.custom-navbar {
  background-color: #212121;
}

.custom-navbar * {
  background-color: unset;
}

.basement {
  font-family: "BasementGrotesque";
  line-height: 36px;
}

.basement-small {
  font-family: "BasementGrotesque";
  font-size: 16px;
}

.basement-subtitle {
  font-family: "BasementGrotesque";
  font-size: 24px;
  word-wrap: wrap;
}

.instagram-sans {
  font-family: "InstagramSans";
  font-size: 2rem;
  color: #FFC66F;
}


.aileron-black {
  font-family: "AileronBlack";
  margin-bottom: 0;
}

.yellow-square {
  border: 1px solid #FFC66F;
}

.about .yellow-square,
.contact .yellow-square {
  height: 200px;
  aspect-ratio: 1/1;
}

.contact-flex {
  gap: 5rem;
}

.yellow-text {
  color: #FFC66F;
}

.personal div {
  width: 55%;
}

.personal>img {
  width: 50%;
  height: 50%;
}

.designs .text {
  width: 45%;
}

.designs .images * {
  max-width: 100%;
}

.designs .images .power-ranks * {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.highlighted-text {
  color: #FFC66F;
}

.marked,
.marked:visited {
  text-decoration: none;
  width: fit-content;
}

.marked:hover p {
  text-decoration: none;
  background-color: #252525;
  color: #FFC66F;
}

.marked p {
  height: fit-content;
  background-color: #FFC66F;
  color: #252525;
}


/* Default font sizes */
.basement h1 {
  font-size: 36px;
}

.sub-title {
  font-size: 1.8rem;
}

.aileron-black {
  font-size: 16px;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

  /* HOME */

  .home {
    flex-direction: column !important;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .home-flex{
    gap: 1rem;
  }
  
  .home .yellow-square {
    padding: 1rem !important;
  }

  .text-end.mobile-only {
    display: inline-block;
    align-self: flex-end;
  }

  .home .basement-small {
    text-align: start !important;
    font-size: 24px;
  }

  .web-only {
    display: none !important;
  }

  .line-jump {
    display: none;
  }

  .profile-pic-image {
    width: 60%;
    align-self: flex-start;
  }

  .home-description {
    font-size: 12px !important;
  }

  .xgroup {
    display: none;
  }

  .container.home {
    flex-direction: column-reverse;
  }

  .home-date {
    position: relative !important;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }


  /* ABOUT */

  .designs-collage {
    width: 100%;
  }

  .napzzz {
    width: 20%;
  }

  .dark{
    height: fit-content !important;
  }

  .art-description {
    width: 100%;
  }

  .art-gallery {
    gap: 0.5rem !important;
    justify-content: flex-start;
  }

  .art {
    width: 49%;
  }

  .myself-gallery {
    gap: 0.5rem;
  }

  .pic {
    width: 250px;
    height: 100%;
  }

  /* CV */

  .cv {
    width: 100%;
  }

  /* CONTACT */

  .contact-flex {
    gap: 1rem;
  }

  /* MENU */

  .custom-navbar {
    padding-inline-start: 0.5rem !important;
    position: fixed !important;
    width: 100%;
  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
  }
}